body {
    background-color: #f9f6f0;
    font-family: 'Raleway', sans-serif;
    padding-top: 56px;
    overflow-x: hidden;
    line-height: 1.5;
}

.noPadding {
    padding-top: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Montserrat', sans-serif;
}

/* Links */

a {
    color: #f9f6f0;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: #f9f6f0;
    font-weight: bold;
    color: #f9f6f0;
    /* padding-bottom: 1px; */
}

/* Navbar */
.navbar-dark .navbar-brand {
    color: #f9f6f0;
}

.navbar-dark .navbar-nav .nav-link {
    color: #f9f6f0;
}

.navbar-dark .navbar-nav .nav-link:hover {
    text-decoration: underline;
    text-decoration-color: #f9f6f0;
}

.navbar-dark .navbar-nav .active>.nav-link {
    color: #f9f6f0;
}

.color-header {
    background-color: #778ba5;
}

.logo-icon {
    width: 150px;
}

.logo-icon.footer {
    padding-top: 20px;
}

.active-header {
    background-color: #778ba5;
}

/* Med-small screens */
@media screen and (max-width: 992px) {
    .navbar-collapse {
        background-color: #778ba5;
       
    }

}

/* Button styles */
.btn {
    background-color: #3E4E50;
    border-color: #3E4E50;
    color: #f9f6f0;
    opacity: .9;
}

.btn:hover {
    /* font-weight: bold; */
    background-color: #3E4E50;
    border-color: #3E4E50;
    opacity: 1;
    color:  #f9f6f0 !important;
    text-decoration: underline;
   
}


.eventJumbo {
    background-size: contain;
    background-position: center; 
    background-repeat: no-repeat;
    height: 50vh;
    background-color: #f9f6f0;
}


#eventInformation {
    padding-top: 35px;
    height: 50vh;
}

#eventInformation h1 {
    font-size: 2em;
}

#socialButtons {
    height: 50px;
    background-color: #D9594C;
    overflow: hidden;
}

#socialButtons h3 {
    display: inline-block;
}

.fab {
    font-size: 35px;
    margin: 5px;
    padding: 5px;
}

#map {
    height: 400px;
    margin: 0;
    padding: 0;
}

#map2 {
    height: 400px;
    margin: 0;
    padding: 0;
}

#locationField,
#controls {
    position: relative;
}

.autocomplete {
    position: absolute;
    width: 50%;
}

.fa-twitter:hover {
    color: #1DA1F2;
    cursor: pointer;
}

.fa-facebook:hover {
    color: #3b5998;
    cursor: pointer;
}

.fa-instagram:hover {
    color: #bc2a8d;
    cursor: pointer;


}

footer {
    background-color: #778ba5;
    margin-top: 50px;

}

h5.logo {
    color: #f9f6f0;
}

#createEventButton {
    display: block;
    margin: 0 auto;
}

.contactUsInner .form-row .form-group col-lg-4 {
    display: block;
    margin: 0 auto;
}

/* Main search Bar */
.search {
    width: 100%;
    position: absolute;
    top: 10%;
    z-index: 10;
}

.searchbar h1 {
    text-align: center;
    color: #f9f6f0;
}

.searchbar .form-control {
    opacity: .6;
}

.searchbar-btn {
    padding: 1rem 3em;

}

.btn.magnify-icon {
    background-color: transparent;
    border: 1px solid #f9f6f0;

}

.btn.magnify-icon:hover {
    font-weight: bolder;
}

#button-center {
    display: flex;
    justify-content: center;
    padding: 0;
}

/* Homepage Carousel*/
.event-slider .banner-slide {
    height: 100vh;
}

.banner-slide h1 {
    letter-spacing: 5px;
    font-size: 8em;
}

.banner-slide .carousel-caption {
    top: 45%;
    left: 0;
    width: 100%;
}

/* Find an Event Section */
#explore .img-fluid {
    height: 150px;
    width: 100%;
}

#explore h1 {
    color: #3E4E50;
    margin-top: 20px;
}

#explore p {
    text-align: center;
    font-size: 1.5em;
}

p.banner-tagline {
    font-size: 1.5em;
}

/*Member Dash components*/
#blktxt a {
    color: rgb(21, 22, 22);
}

#blktxt .btn.magnify-icon {
    border: 1px solid black;
}

#blktxt .fa-search {
    color: rgb(21, 22, 22);
}

#cont-text {
    text-align: center;
    overflow: hidden;
}

.dash-nav {
    float: inherit;
    margin-top: 70px;
    
    height: 90%;
    border: 1px solid rgb(110, 110, 184);   
    

}

.dash-nav a {
    color: rgb(110, 110, 184);
}


#mainDash .fas {
    font-size: 35px;
    margin: 5px;
    padding: 5px;
    border: 1px solid white;
    border-radius: 20px;
}


.searchforms {
    background-color: transparent;
    border: 1.5px solid #f9f6f0;
    color: #f9f6f0;
}


#cardHomePage .list-group-item {
    padding: 5px 10px;
}

#cardHomePage .card-body {
    padding: 5px 10px;
}

#cardHomePage .btn {
    bottom: 5px;
   position: relative;
}

#cardHomePage .card {
    height: 450px;
    margin: 20px 0;
    -webkit-box-shadow: 5px 4px 8px 0px rgba(0, 0, 0, 0.75) !important;
    -moz-box-shadow: 5px 4px 8px 0px rgba(0, 0, 0, 0.75)!important;
    box-shadow: 5px 4px 8px 0px rgba(0, 0, 0, 0.75)!important;
}

#cardHomePage .card-img-top {
    height: 150px;
}

#cardHomePage .card-body {
    padding: 5px 10px;
}

#all-event-image {
    height: 200px;
}

.all-event-card {
    border: 2px black solid;
}
.card {
box-shadow: 5px 4px 8px 0px rgba(0, 0, 0, 0.75)!important;
transition: all .2s ease-in-out;
}

.card a {
    color: black;
}
.card:hover{
transform: scale(1.1);
}

#searchNav {
    visibility: hidden;
    width: 0;
    -webkit-transition: width 1.5s;
    transition: width 1.5s;
    border-radius: 5px;
    padding: 2px;
}

.fa-search {
    cursor: pointer;
}

/*Login Form Page*/

#login-form{
    padding: 30px;
    margin: 50px 0;
    border: 3px dashed aquamarine;
    border-radius: 15%;
}


#resultsTable {
        border-collapse: collapse;
        width: 240px;
      }

#rating {
        font-size: 13px;
        font-family: Arial Unicode MS;
      }
.iw_table_row {
        height: 18px;
      }
.iw_attribute_name {
        font-weight: bold;
        text-align: right;
      }
.iw_table_icon {
        text-align: right;
      }
#country {
        width: 100%;
      }
.placeIcon {
        width: 20px;
        height: 34px;
        margin: 4px;
      }
.hotelIcon {
        width: 24px;
        height: 24px;
      }

ul.locations-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap
}

.socialMedia {
    color: black !important;
}



