#cont-text{
    text-align: center;
    overflow: hidden;
  }
  
  .dash-nav{
    float: inherit;
    margin-top: 20px;
    overflow: hidden;
    height: 90%;
    flex-flow: column;
  
  }
  
  #main-card{
    margin: 20px;
  }

