footer {
    background-color: aliceblue;
    margin-top: 50px;
}

body {
    margin-top: 56px;
}

#createEventButton {
    display: block;
    margin: 0 auto;
}

.contactUsInner .form-row .form-group col-lg-4{
    display: block;
    margin: 0 auto;
}